#bookFlights-home{
    margin: 5% 0% 150px 10%;
}

#bookFlights-home-part1{
    box-shadow: 5px 10px 8px #888888;
    height: 50%;
    width: 40%;
    float: left;
}

#bookFlights-home-part2{
    padding: 2%;
    box-shadow: 5px 10px 8px #888888;
    height: 30%;
    width: 40%;
    margin-left: 10%;
    float: left;
}

#userdetails-el{
    border: 1px solid black;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    margin: 5% 0% 5% 5%;
}