#viewFlights-body{
    background-color: white;
    height: 100vh;
    margin-bottom: 110px;
    }

#flight-items{
    border: 3px solid black;
    box-shadow: 5px 10px 8px #888888;
    /* padding: 20px; */
    height: 150px;
    width: 60%;
    padding: 0px 40px 40px 40px;
    margin: 5% 5% 5% 15%;

}

#flight-items-1{
    width: 40%;
    height: 100%;
    float: left;
}

#flight-items-1-sub1{
    width: 100%;
    height: 50%;
}

#flight-items-2{
    width: 30%;
    height: 100%;
    float: left;
}

#flight-items-3{
    width: 25%;
    height: 100%;
    float: left;
}

#bookFlight{
    margin: 10% 0% 0% 8%;
    width: 80%;
    height: 30px;
    background-color: orange;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}
