.restaurant-heading{
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.restaurant-name{
  color: black;
  font-size: medium;
}

.restaurant-body{
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin-left: 4%;
}

.restaurant-image{
  width: 350px;
  height: 200px;
}

.second{
  margin-top: 1%;
}

.main-container{
  display: flex;
  margin-left: 4%;
  gap: 2%;
}