#container{
height: 100vh;
}

#trip-image{
    
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 80px;
}

#landing-image{
    height: 80%;
    width:80%;
    margin-left: 9%;
}