p{
    font-weight: 500;
}

#returnToHome-el{

    background-color: black;
    color: white;
    width: 75%;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
}

#confirm-model-el{
    text-align: center;
}