#dateSelect{
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 5px;
    
}

.items{
    border: 3px solid white
    /* padding: 20px; */
  } 

#float-child {
    width: 40%;
    height: 300px;
    float: left;
    padding: 20px;
} 
